* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./assets/bg-mobile.jpg") no-repeat top center/cover;
}

#container {
  width: 360px;
  margin: 56px auto 0;
}

#profile {
  padding: 24px;
  text-align: center;
}

#profile img {
  width: 112px;

  object-fit: cover;

  border-radius: 100%;
  border: 1px solid #ffffff50;
}

#profile p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
